*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: yellow;
    font-family: cursive;
}
.container{
    margin: 1.5rem;
    padding: 1rem;
    border: 2px solid green;
    min-width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.icon{
    position: absolute;
    top: -2rem;
}
.counter{
    margin: 0.5rem;
    font-size: 3rem;
}